
.banner-container{

    color:white;
    background-image: url('../../background.jpg');
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 70px 0px 70px 30px;

    .text-container{
        height: 160px;
        padding-bottom: 24px;

        .title{
            font-size:30px;
        }
        .subtitle{
            font-size:100px;
            width: 40px;
            
        }
    }
    .buttons{
        padding-bottom: 12px;
        .Play{
            background-color: rgba(37, 36, 36, 0.4);
            padding: 10px 30px;
            border: none;
            color: white;
            margin-right: 10px;
            border-radius: 5px;
        }
        .Play:hover{
            background-color:rgb(192, 22, 22);}
        .List{
            background-color: rgba(51, 51, 51, 0.4);
            padding: 10px 30px;
            border: none;
            color: white;
            border-radius: 5px;
        }
    }

    .description{
        font-size:16px;
        width: 400px;
    }
}

