$color-background: #141414;

.header-container{
    display: flex;
    align-items: center;
    background-color:$color-background;
    color: white;
    img{
        height:30px;
        padding-left: 30px;
        padding-right: 45px;
    }

    ul li{
        list-style: none;
        display:inline-block;
        font-size: 14px;
        margin-right: 18px;
    }
}